@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


main{
    display: flex;  
    width: 100vw;
    height: 81.4vh;    
    }

.containerLogin{  
    display: flex;   
    background-repeat: no-repeat;
    background-size: 100%;   
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.containerForm{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 36.45vw;
    height: 100vh;  
    gap:8px;      

    h1{                
        width: 15.78vw;        
        font-size: 2rem;
        text-align: center;        
        color: #23282F;
        font-family: Inter;
        font-weight: 700; 
        font-size: 32px;       
    }  
    p{
        color: #0844c4;
        font-family: Inter;
        font-weight: 700;
        font-size: 16px;

    }
    
}

.formLogin{
    display: flex;
    width: 19vw;    
    padding-top: 1rem;    
    flex-direction: column;    
    align-items: center;   
    gap:8px;
    
    input{
        
        width: 19vw;
        height: 6vh;
        border-radius: 6px;
        align-items: center;    
        color: #898d93;
        border-color: #CBD4E1;
        margin-bottom: 0.5rem;     
               
        }  
        a{
            text-decoration: none;
        }        
    }


.divButton{
display: flex;
justify-content:space-evenly;
width: 10vw;
padding-top: 1rem;
gap:8px;
.buttonEntrar{
    background-color: #001a3d;
    color: #ffffff;
    width: 5vw;
    height: 5vh;
    border-radius: 6px;
    font-family: Inter;
}
.buttonCriar{
    background-color: #00bedd;
    color: #ffffff;
    width: 5vw;
    height: 5vh;
    border-radius: 6px;
    font-family: Inter;   
}

}