@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


main{
    display: flex;
    
    
}

.containerLogin{  
    display: flex;
    height: 100vh;
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100%;   
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.containerForm{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 36.45vw;
    height: 100vh;        

    h1{                
        width: 15.78vw;        
        font-size: 2rem;
        text-align: center;        
        color: #23282F;
        font-family: Inter;
        font-weight: 700;        
    }  
    
}

.formLogin{
    display: flex;
    width: 19vw;    
    padding-top: 2rem;    
    flex-direction: column;    
    align-items: center;
    

    input{
        
        width: 19vw;
        height: 6vh;
        border-radius: 6px;
        align-items: center;    
        color: #FFFFFF;
        border-color: #CBD4E1;
        margin-bottom: 0.5rem;     
               
        }          
    }


.divButton{
display: flex;
justify-content:space-evenly;
width: 13vw;
padding-top: 1rem;
.buttonEntrar{
    background-color: #001a3d;
    color: #ffffff;
    width: 5vw;
    height: 5vh;
    border-radius: 6px;
    font-family: Inter;
}
.buttonCriar{
    background-color: #00bedd;
    color: #ffffff;
    width: 5vw;
    height: 5vh;
    border-radius: 6px;
    font-family: Inter;   
}

}